.App {
  text-align: center;
  height: 100vh;
  background-color: #0D1209
}

/* .PageTitle{
  color: #BFBA73;
  font-size: 3rem;
  padding-top: 50px;
  padding-bottom: 30px;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color:#0D1209;
}

.App-header {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  color: #BFBA73;
  font-size: 1.7rem;
  padding-top: 50px;
  padding-bottom: 30px;
}

.App-link {
  color: #61dafb;
}

.tile_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.leaflet-container {
  width: 100%;
  height: 500px;
}

.hide {
  display: none;
}