.App {
  text-align: center;
  height: 100vh;
  background-color: #0D1209

}


.App-header {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  color: #BFBA73;
  height: 15vh;
  font-size: 2.1rem;
  margin-top: 0%;
  padding-top: 1vh;
  padding-bottom: 4vh;
}

/* ***** ORIGINAL GRID CODE START ******* */
.App-body {
  background-color:#0D1209;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 80vh;
}

.Tile-grid {
  height: 80vh;
  overflow: auto;
  overflow-x: hidden;
}

.Tile-grid::-webkit-scrollbar{
  display: none;
}

.Map-grid{
  grid-column-start: 2;
}

.HomeButtonSpan{
  position: absolute;
  top: 21vh;
  right: 1vh;
  z-index: 2;
}

/* **** ORIGINAL GRID CODE END ****** */




/* ***** NEW GRID CODE START ******* */


/* ***** NEW GRID CODE END ******* */





/* .gallery-button{
  padding-bottom: 20px;
} */

.tile_container {
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* gap: 1rem; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* padding: 0 5px 5px 30px; */
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hide {
  display: none;
}